#page{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
}
#headerBar{
	display: flex;
	height: auto;
	width:100%;
	font-size: 150%;
	color: black;
	flex-direction: column;
	background-color:rgb(180,200,255);
}
#pageTitle{
	display: flex;
	height: auto;
	justify-content: center;
	width:100%;
}
#menu{
	display: flex;
	width: 100%;
	height: 25%;
}
.menu-item{
	display: flex;
	width:17%;
	border-left: 1px solid black;
	border-top:1px solid black;
	height: auto;
	justify-content:center;
	background-color: rgb(240,240,255);
}
.menu-item:hover{
	background-color:rgb(200,200,200);
}
a{
	text-decoration: none;
	color: black;
}
#content{
	display: flex;
	height: auto;
}
#halfContent1{
	display: flex;
	flex-direction: column;
	width: 25%;
	height: auto;
	border: 1px solid black;
	border-right: 0px solid black;
	background-color: rgb(180,200,255);
}
#halfContent2{
	display: flex;
	flex-direction: column;
	width: 75%;
	height: auto;
	border: 1px solid black;
	background-color: rgb(240,240,255);
}
#imageSection{
	display: flex;
	height: auto;
	width: 100%;
	justify-content: center;
	height: auto;
}
#image{
	width:50%;
	-webkit-transition: width 1s;
		transition: width 1s; 
}
#image:hover{
	width: 100%;
}
#factSection{
	display: flex;
	height: auto;
	width: 100%;
	justify-content: center;
}
#aboutMeTitle{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	border-bottom: 0px solid black;
	background-color: rgb(180,200,255);
}
#aboutMeContent{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}
img{
	width:100%;
	margin-top:5px;
	-webkit-transition: margin-top 1s;
		transition: margin-top 1s;
}
img:hover{
	margin-top:0px;
}
